<launch>
    <env name="GAZEBO_MODEL_PATH" value="$(find person_sim)/models:$(optenv GAZEBO_MODEL_PATH)"/>

    <include file="$(find turtlebot3_gazebo)/launch/turtlebot3_peopletracker.launch" >
        <arg name="world_file" value="$(find people_tracker_tc)/worlds/people_tracking.world"/>
        <!--arg name="pause" value="false"/-->
        <!--arg name="world_name" default="$(find people_tracker_tc)/worlds/standing_person.world"/-->
        <arg name="x_pos" value="0.0" />
        <arg name="y_pos" value="0.0" />
        <arg name="z_pos" value="0.0" />
        <!--arg name="yaw" value="3.14" /-->
    </include>
    
    
    <!-- Launch the standing person and activate the movement if it and tf publish -->
    <include file="$(find person_sim)/launch/init_small_standing_person.launch">
        <arg name="x" default="2.0" />
        <arg name="yaw" default="0" />
    </include>
    
    <!-- Start navigation -->
    <include file="$(find turtlebot3_navigation)/launch/turtlebot3_navigation_wo_map.launch" />
  
</launch>
